<div class="modal-header text-center">
  <h3 class="modal-title">Group Manager</h3>
</div>

<div class="modal-body">
  <div>
    <h5 ng-show='modal.group.groups.length > 0'>Click to edit or delete:</h5>
    <div class='extra-bottom-margins'>
      <span class="label" ng-repeat='group in modal.group.groups' ng-class="{'label-info': !modal.stagedForDeletion[group.id], 'label-danger': modal.stagedForDeletion[group.id]}">
        <a href='' ng-click='modal.editGroup(group)'>{{ group.name }}</a>&nbsp;
        <a href='' ng-click='modal.stageGroupForDeletion(group.id)'>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
      </span>
    </div>
    <a class="btn btn-danger btn-block extra-bottom-margins" href="" uib-tooltip="Chosen group(s) will be removed from ALL people" tooltip-placement="bottom" ng-click='modal.deleteGroups()' ng-show='modal.showDeleteGroupsButton'>Confirm Delete</a>
  </div>
  <form class='extra-bottom-margins' ng-show='modal.showNewForm' ng-submit='modal.submitNewGroup()'>
    <div class="form-group">
      <label for="new-group">New group name</label>
      <input ng-model="modal.group.new" type="new-group" class="form-control" id="new-group" autofocus required="required" >
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
  <form class='extra-bottom-margins' ng-show='modal.showEditForm' ng-submit='modal.submitEditGroup()'>
    <div class="form-group">
      <label for="new-group">Change group name</label>
      <input ng-model="modal.group.editName" type="new-group" class="form-control" id="new-group" autofocus required="required" >
    </div>
    <button uib-tooltip="Group name change will apply to ALL people" tooltip-placement="bottom" type="submit" class="btn btn-warning btn-block">Submit New Name</button>
  </form>
  <a class="btn btn-primary btn-block" href="" role="button" ng-click='modal.clickShowNewForm()' ng-show='!modal.showNewForm'>Add Group</a>
</div>

<div class="modal-footer">
  <a class="btn btn-success" type="button" ng-click="modal.close()">Done</a>
</div>