<div ng-show='profile.busy' ng-class="{ 'hide-spinner' : !profile.busy }" id='spinner'></div>

<div class="page-header">
  <h1 class='center-block'><center>{{ profile.user.first_name }} {{ profile.user.middle_name }} {{ profile.user.last_name }}</center></h1>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <img ng-src='{{ profile.user.medium }}' class='center-block'/>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 col-sm-offset-2'>
    <p ng-show="profile.user.email">Email: {{ profile.user.email }}</p>
    <p ng-show="profile.user.sex">Sex: {{ profile.user.sex }}</p>
    <p ng-show="profile.user.nickname">Nickname: {{ profile.user.nickname }}</p>
  </div>
  <div class='col-sm-4'>
    <p ng-show="profile.user.location">Location: {{ profile.user.location }}</p>
    <p ng-show="profile.user.occupation">Occupation: {{ profile.user.occupation }}</p>
    <p ng-show="profile.user.dob">DOB: {{ profile.user.dob }}</p>
    <p ng-show="profile.user.bio">Bio: {{ profile.user.bio }}</p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <div class='text-center'>
      <a class="btn btn-info"  href='#/profile/edit/false'>Edit Profile</a>
      <a class="btn btn-warning"  ng-click='profile.changePassword()'>Change Password</a>
      <button class="btn btn-danger" ng-click='profile.deleteUser()'>Delete Profile</button>
    </div>
  </div>
</div>