<div class="page-header">
  <h1>Add a person</h1>
</div>

<form ng-submit='person.submitPerson()'>
  <div class='row'>
    <div class='col-sm-6' ng-class='{"col-sm-offset-3": !person.addedInputFields}'>
      <div class="form-group">
        <label for="firstNameInput">First Name</label>
        <input ng-model="person.person.first_name" type="text" class="form-control" id="firstNameInput" placeholder='Required' autofocus required />
      </div>
      <div class="form-group">
        <label for="lastNameInput">Last Name</label>
        <input ng-model="person.person.last_name" type="text" class="form-control" id="lastNameInput"  placeholder='Required' required />
      </div>
      <div class='row'>
        <div class='col-sm-4'>
          <div class="btn-group" data-toggle='buttons'>
            <label class='btn btn-default' ng-click='person.person.sex = "Male"' ng-class='{"active": person.person.sex === "Male"}'><input type="radio" />Male</label>
            <label class='btn btn-default' ng-click='person.person.sex = "Female"' ng-class='{"active": person.person.sex === "Female"}'><input type="radio" />Female</label>
          </div>
        </div>
        <div class='col-sm-8'>
          <div class="form-group">
            <label for="group-select" class="col-sm-2 control-label">Apply Group</label>
            <div class="col-sm-10 input-group">
              <select class="form-control" id="group-select" ng-model="person.chosenGroup" ng-options="g as g.name for g in person.groups" ng-change='person.groupSelected()'>
              </select>
              <span class="input-group-addon" aria-hidden="true">
                <a uib-tooltip="Groups are a useful way to label and categorize your people. They also make it easy to send your people to other users." tooltip-placement="right">
                  <span class='glyphicon glyphicon-question-sign'></span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class='extra-bottom-margins'>
        <span class="label label-info" ng-repeat='group in person.groups | chosenGroups : person.person.group_ids'>{{ group.name }} <a href='' ng-click='person.removeGroup(group.id)'><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></span>
      </div>
      <div class="form-group">
        <label for="imageFileInput">Headshot</label>
        <input type="file" ng-model="person.person.image" accept="image/*" id="imageFileInput" ngf-select ngf-pattern="'image/*'" ngf-max-size="5MB" ngf-min-height="50" class="text-info"/>
        <p class="help-block">Upload an image file of your person (recommended for games).</p>
      </div>
      <div class="form-group">
        <label for="nicknameInput">Nickname</label>
        <input ng-model="person.person.nickname" type="text" class="form-control" id="nicknameInput"  />
      </div>
      <div class="form-group">
        <label for="hintInput">Hint</label>
        <a ng-click='person.addHintInputs()' class="btn btn-default btn-xs pull-right" ng-class='{"disabled": person.hints.hints.length > 2}'>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add more hints
        </a>
        <input ng-repeat='hint in person.person.hints track by $index' type="text" class="form-control" ng-model='person.person.hints[$index]' id='hintInput' />
      </div>
    </div>
    <div ng-show='person.addedInputFields' class='col-sm-6'>
      <div class="form-group">
        <label for="middleNameInput">Middle Name</label>
        <input ng-model="person.person.middle_name" type="text" class="form-control" id="middleNameInput" />
      </div>
      <div class="form-group">
        <label for="locationInput">Location</label>
        <input ng-model="person.person.location" type="text" class="form-control" id="locationInput" >
      </div>
      <div class="form-group">
        <label for="occupationInput">Occupation</label>
        <input ng-model="person.person.occupation" type="text" class="form-control" id="occupationInput" >
      </div>
      <div class="form-group">
        <label for="dobInput">Date of Birth</label>
        <input ng-model="person.person.dob" type="date" class="form-control" id="dobInput" >
      </div>
      <div class="form-group">
        <label for="bioInput">Bio</label>
        <textarea rows="3" ng-model="person.person.bio" type="text" class="form-control" id="bioInput" ></textarea>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <a href='#/people/index' class="btn btn-default">Cancel</a>
        <a ng-click='person.addInputFields()' ng-hide='person.addedInputFields' class="btn btn-success">Add more details</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>