<div class="page-header">
  <h1>Add a person</h1>
</div>

<form ng-submit='submitPerson()'>
  <div class='row'>
    <div class='col-sm-6' ng-class='{"col-sm-offset-3": !addedInputFields}'>
      <div class="form-group">
        <label for="firstNameInput">First Name</label>
        <input ng-model="person.first_name" type="text" class="form-control" id="firstNameInput" placeholder='Required' autofocus required />
      </div>
      <div class="form-group">
        <label for="lastNameInput">Last Name</label>
        <input ng-model="person.last_name" type="text" class="form-control" id="lastNameInput"  placeholder='Required' required />
      </div>
      <div class="btn-group" data-toggle='buttons'>
        <label class='btn btn-default' ng-click='person.sex = "Male"'><input type="radio" />Male</label>
        <label class='btn btn-default' ng-click='person.sex = "Female"'><input type="radio" />Female</label>
      </div>
      <div class="form-group">
        <label for="nicknameInput">Nickname</label>
        <input ng-model="person.nickname" type="text" class="form-control" id="nicknameInput"  />
      </div>
      <div class="form-group">
        <label for="nicknameInput">Hint</label>
        <a ng-click='addHintInputs()' class="btn btn-default btn-xs pull-right" ng-class='{"disabled": hints.length > 2}'>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add more hints
        </a>
        <input ng-repeat='hint in hints track by $index' type="text" class="form-control" ng-model='hints[$index].hint' />
      </div>
      <div class="form-group">
        <label for="imageFileInput">Headshot</label>
        <input type="file" ng-model="person.image" accept="image/*" id="imageFileInput" ngf-select ngf-pattern="'image/*'" ngf-max-size="5MB" ngf-min-height="50" class="text-info"/>
        <p class="help-block">Upload an image file of your person (required).</p>
      </div>
    </div>
    <div ng-show='addedInputFields' class='col-sm-6'>
      <div class="form-group">
        <label for="middleNameInput">Middle Name</label>
        <input ng-model="person.middle_name" type="text" class="form-control" id="middleNameInput" />
      </div>
      <div class="form-group">
        <label for="locationInput">Location</label>
        <input ng-model="person.location" type="text" class="form-control" id="locationInput" >
      </div>
      <div class="form-group">
        <label for="occupationInput">Occupation</label>
        <input ng-model="person.occupation" type="text" class="form-control" id="occupationInput" >
      </div>
      <div class="form-group">
        <label for="dobInput">Date of Birth</label>
        <input ng-model="person.dob" type="date" class="form-control" id="dobInput" >
      </div>
      <div class="form-group">
        <label for="bioInput">Bio</label>
        <textarea rows="3" ng-model="person.bio" type="text" class="form-control" id="bioInput" ></textarea>
      </div>

    </div>
  </div>
  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
      <div class='text-center'>
        <a href='#/people/index' class="btn btn-default btn-lg">Cancel</a>
        <a ng-click='addInputFields()' ng-hide='addedInputFields' class="btn btn-success btn-lg">Add more details</a>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </div>
  </div>
</form>