<div ng-show='show.busy' ng-class="{ 'hide-spinner' : !show.busy }" id='spinner'></div>

<div class="page-header">
  <h1 class='center-block'><center>{{ show.person.first_name }} {{ show.person.middle_name }} {{ show.person.last_name }}</center></h1>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <img ng-src='{{ show.person.medium }}' class='center-block'/>
  </div>
</div>
<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <div class='extra-bottom-margins text-center'>
      <span class="label label-info" ng-repeat='group in show.person.groups'>{{ group.name }}</span>
    </div>
  </div>
</div>
<div class='row'>
  <div ng-class="{ 'col-sm-10' : show.demoMode, 'col-sm-offset-1' : show.demoMode, 'col-sm-4' : !show.demoMode, 'col-sm-offset-2' : !show.demoMode }">
    <p ng-hide='show.demoMode || !show.person.sex' ng-show='show.person.sex'>Sex: {{ show.person.sex }}</p>
    <p ng-hide='show.demoMode || !show.person.sex'>Nickname: {{ show.person.nickname }}</p>
    <p ng-repeat='hint in show.person.hints track by $index'>Hint {{ $index + 1 }}: {{ hint }}</p>
  </div>
  <div ng-class="{ 'col-sm-10' : show.demoMode, 'col-sm-offset-1' : show.demoMode, 'col-sm-4' : !show.demoMode, 'col-sm-offset-2' : !show.demoMode }">
    <p ng-hide='show.demoMode || !show.person.location'>Location: {{ show.person.location }}</p>
    <p ng-hide='show.demoMode || !show.person.occupation'>Occupation: {{ show.person.occupation }}</p>
    <p ng-hide='show.demoMode || !show.person.dob'>DOB: {{ show.person.dob }}</p>
    <p ng-hide='!show.person.bio'>Bio: {{ show.person.bio }}</p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 col-sm-offset-4'>
    <div class='text-center'>
      <a ng-class="{ 'disabled' : show.demoMode }" class="btn btn-info"  href='#/people/{{show.person.id}}/edit'>Edit Person</a>
      <button ng-class="{ 'disabled' : show.demoMode }" class="btn btn-danger" ng-click='show.deletePerson()'>Delete Person</button>
    </div>
  </div>
</div>