<div ng-show='person.busy' ng-class="{ 'hide-spinner' : !person.busy }" id='spinner'></div>

<div class="page-header">
  <h1 class='center-block'><center>{{ person.person.first_name }} {{ person.person.middle_name }} {{ person.person.last_name }}</center></h1>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <img ng-src='{{ person.person.medium }}' class='center-block'/>
  </div>
</div>
<div class='row'>
  <div class='col-sm-8 col-sm-offset-2'>
    <div class='extra-bottom-margins text-center'>
      <span class="label label-info" ng-repeat='group in person.person.groups'>{{ group.name }}</span>
    </div>
  </div>
</div>
<div class='row'>
  <div ng-class="{ 'col-sm-10' : person.demoMode, 'col-sm-offset-1' : person.demoMode, 'col-sm-4' : !person.demoMode, 'col-sm-offset-2' : !person.demoMode }">
    <p ng-hide='person.demoMode'>Sex: {{ person.person.sex }}</p>
    <p ng-hide='person.demoMode'>Nickname: {{ person.person.nickname }}</p>
    <p ng-repeat='hint in person.person.hints track by $index'>Hint {{ $index + 1 }}: {{ hint }}</p>
  </div>
  <div ng-class="{ 'col-sm-10' : person.demoMode, 'col-sm-offset-1' : person.demoMode, 'col-sm-4' : !person.demoMode, 'col-sm-offset-2' : !person.demoMode }">
    <p ng-hide='person.demoMode'>Location: {{ person.person.location }}</p>
    <p ng-hide='person.demoMode'>Occupation: {{ person.person.occupation }}</p>
    <p ng-hide='person.demoMode'>DOB: {{ person.person.dob }}</p>
    <p>Bio: {{ person.person.bio }}</p>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4 col-sm-offset-4'>
    <div class='text-center'>
      <a ng-class="{ 'disabled' : person.demoMode }" class="btn btn-info"  href='#/people/{{person.person.id}}/edit'>Edit Person</a>
      <button ng-class="{ 'disabled' : person.demoMode }" class="btn btn-danger" ng-click='person.deletePerson()'>Delete Person</button>
    </div>
  </div>
</div>