<div class="modal-header text-center">
  <h3 class="modal-title">Change Your Password</h3>
</div>

<div class="modal-body">
  <form ng-submit='password.submitChangePassword()'>

    <div class="form-group">
      <label for="current_password">Current Password</label>
      <input ng-model="password.user.current_password" type="password" class="form-control" id="current_password" placeholder='Password' required="required">
    </div>

    <div class="form-group">
      <label for="password">New Password</label>
      <input ng-model="password.user.password" type="password" class="form-control" id="password" placeholder='Password' required="required">
    </div>

    <div class="form-group">
      <label for="password-confirmation">Confirm New Password</label>
      <input ng-model="password.user.password_confirmation" type="password" class="form-control" id="password-confirmation" placeholder='Confirm Password' required="required">
    </div>

    <button type="submit" class="btn btn-info btn-block">Submit</button>

  </form>
</div>
<div class="modal-footer">
  <div class='text-center'>
    <a class="btn btn-warning btn-block"  ng-click='password.closeModal()'>Cancel</a>
  </div>
</div>