<div ng-show='auth.error' class="alert text-center" ng-class="{'alert-danger': !auth.failureToggle , 'alert-warning': auth.failureToggle }">
  <h4 >{{ auth.error }}.</h4>
  <p>Please try again</p>
</div>

<div ng-hide='auth.error' class="modal-header text-center">
  <h3 class="modal-title">Welcome back!</h3>
</div>

<div class="modal-body">
  <form ng-submit='auth.logIn(logInForm.$valid)' name="logInForm" novalidate>

    <div class="form-group">
      <label for="email">Email address</label>
      <input ng-model="auth.user.email" type="email" class="form-control" id="email" placeholder='Email' autofocus required="required" name='email'>
      <div ng-show='password.buttonClicked' ng-messages="logInForm.email.$error" class="text-warning">
        <p ng-message="required">Email is required.</p>
        <p ng-message="email">Your email address is invalid. Please try again.</p>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input ng-model="auth.user.password" type="password" class="form-control" id="password" placeholder='Password' required="required" name='password'>
      <div ng-show='password.buttonClicked' ng-messages="logInForm.password.$error" class="text-warning">
        <p ng-message="required">Password is required.</p>
      </div>
    </div>

    <button type="submit" class="btn btn-info btn-block" ng-click='password.buttonClicked = true'>Log In</button>

  </form>
</div>
<div class="modal-footer">
  <div class='row'>
    <div class='col-sm-10 col-sm-offset-1'>
      <p>Don't have an account? <a href='' ng-click='auth.openSignUpModal()'>Sign up</a></p>
    </div>
  </div>

</div>