<div class="modal-header text-center">
  <h3 class="modal-title">Welcome {{ message.name }}</h3>
</div>

<div class="modal-body">
  <p>And thank you for signing up!</p>
  <p>Please take a moment to add a photo and some additional info about yourself - this will help out other users that you might send yourself to!</p>
  <p>Once you're done updating your profile, start adding people!</p>
</div>
<div class="modal-footer">
  <div class='text-right'>
    <a class="btn btn-primary" type="button" ng-click="message.close()">Close</a>
  </div>
</div>