.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.extra-margin-top-h1 {
  margin-top: 34.5px;
}

.extra-margin-top-h3 {
  margin-top: 20.5px;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
     transform: translate(0, 0);
}

.extra-top-bottom-margins {
  margin-top: 10px;
  margin-bottom: 10px;
}

.extra-bottom-margins {
  margin-bottom: 10px;
}

.extra-bottom-margins-header {
  margin-bottom: 32px;
}

.no-bottom-margins {
  margin-bottom: 0px;
}

.label {
    margin-left: 5px;
    display: inline-block;
}

.label a {
  text-decoration: none;
  color: white;
}

span.glyphicon {
  color: white;
}

.input-group-addon {
  border-radius: 5px;
}

.tooltip.group-help .tooltip-inner {
  width: 200px;
  height: 80px;
}

.person-grid {
  height: 100px;
  text-align: center;
}

.height-inherit {
  height: inherit;
}

.person-image-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.person-image {
  vertical-align: middle;
  max-height: 100px;
}