<div class="modal-header text-center">
  <h3 class="modal-title">Who is this?</h3>
</div>
<div class="modal-body">
  <!-- <div class=''> -->
    <div class='row'>
        <img ng-src='{{ person.randomPerson.medium }}' class='center-block'/>

      <div class='col-sm-10 col-sm-offset-1'>
        <form ng-submit='submitPerson()' autocomplete='off'>
          <div ng-hide='person.result' class="form-group">
            <label for="firstNameInput">First Name</label>
            <input ng-model="person.guessPerson.first_name" type="text" class="form-control" id="firstNameInput" autofocus>
          </div>
          <div ng-show='person.firstNameWrong' class="alert alert-warning">
            <h4>Wrong!</h4>
            <p>The correct first name was <b>{{ person.randomPerson.first_name }}</b></p>
          </div>
          <div ng-show='person.firstNameRight' class="alert alert-success">
            <h4>Correct!</h4>
          </div>
          <div ng-hide='person.result' class="form-group">
            <label for="lastNameInput">Last Name</label>
            <input ng-model="person.guessPerson.last_name" type="text" class="form-control" id="lastNameInput">
          </div>
          <div ng-show='person.lastNameWrong' class="alert alert-warning">
            <h4>Wrong!</h4>
            <p>The correct last name was <b>{{ person.randomPerson.last_name }}</b></p>
          </div>
          <div ng-show='person.lastNameRight' class="alert alert-success">
            <h4>Correct!</h4>
          </div>
          <div class='row'>
            <div class='col-sm-6 col-sm-offset-3 text-center'>
              <a ng-hide='person.result' ng-click='skip()' class="btn btn-info btn-lg">Skip</a>
              <button ng-hide='person.result' type="submit" class="btn btn-success btn-lg">Submit</button>
              <a ng-show='person.result' ng-click='next()' class='btn btn-info btn-lg center-block'>Next</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  <!-- </div> -->
</div>
<div class="modal-footer">
  <div class='row'>
    <div class='col-sm-3 text-center'>
      <div class="well well-sm text-info">
        Score
      </div>
    </div>
    <div class='col-sm-9'>
      <button class="btn btn-warning" type="button" ng-click="reset()">Reset</button>
      <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
    </div>
  </div>

</div>