<h4 class="h4" style="color: #202020; display: block; font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 22px; font-weight: bold; line-height: 100%; text-align: left; margin: 0 0 10px;" align="left">
  <%= "#{@sending_user.first_name} #{@sending_user.last_name} (#{@sending_user.email})" %> has shared someone from their Circle with you!
</h4>&#13;
<br />&#13;
<%= link_to 'Go to Know Your Circle', root_url %> to see who!&#13;